rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Permite que o usuário só leia/escreva seu próprio documento user
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Coleção clients
    match /clients/{clientId} {
      allow read, write: if isAuthenticated() && isAdmin();
    }

    // Projetos - associados a clients
    match /projects/{projectId} {
      allow read, write: if isAuthenticated() && isAdmin();
    }

    // Documentos - permitidos somente para usuários autenticados
    match /documentos/{documentoId} {
      allow read, write: if isAuthenticated();
    }

    // Funções auxiliares
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
  }
}
